/* FONTS  
font-family: 'Goldman', cursive;
font-family: 'Roboto', sans-serif;

*/

/*---------------------- GENERAL ----------------*/

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.centered {
  text-align: center;
}

.fail {
  color: #f20505;
}
.success {
  color: #12a600;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.inline {
  display: inline;
}

a {
  color: #fff;
  text-decoration: none;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

/* ----------------MOBILE----------------------- */

/* --------------------NAVBAR------------------------ */

#navbar {
  overflow: hidden;
  background-color: rgba(33, 33, 33, 0.9);
  max-width: 100%;
  border: 1px solid #a4a1a1;
}
#navbar a {
  float: left;
  display: block;
  text-align: center;
  width: 24%;
  padding: 2% 0;
  font-size: 0.8em;
}
#active {
  font-weight: bold;
  border: 2px solid #fff;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ------------------FOOTER------------------------- */

footer {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 7%;
  border-top: 1px solid #fff;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.9);
}

footer p {
  width: 88%;
  margin: 0 auto;
  font-size: 0.75em;
  text-align: left;
}

footer a {
  display: block;
  font-weight: bold;
  font-size: 0.85em;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: underline;
}

/* ------------------TIMELINE PAGE----------------- */

h1 {
  font-family: "Goldman", cursive;
  letter-spacing: 0.1em;
  font-size: 7vw;
  text-align: center;
}

.background1,
.background2,
.background3,
.background4,
.background5,
.background6 {
  background-attachment: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 300px;
}

.background1 {
  background-image: url(images/1.jpg);
  background-size: auto 500px;
  padding-top: 50px;
}

.background2 {
  background-image: url(images/modis_wonderglobe_lrg_web.jpg);
}

.background3 {
  background-image: url(images/pia22946-16_web.jpg);
}

.background4 {
  background-image: url(images/37912591295_7c30a77efd_o_web.jpg);
}

.background5 {
  background-image: url(images/47720639732_e04b2a9ed7_o_web.jpg);
  background-size: 400px auto;
}

.background6 {
  background-image: url(images/32394688095_a3339f3c6d_o_web.jpg);
  background-size: 600px auto;
  background-position: center bottom;
}

.rocket-icon {
  width: 30vw;
  display: block;
  padding: 0;
  margin: -7% auto;
}

.text-block1,
.text-block2 {
  cursor: pointer;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  border-radius: 20px;
}

.arrow {
  position: absolute;
  bottom: -16%;
  right: 3%;
}

.close {
  position: absolute;
  top: -2%;
  right: 2%;
  font-weight: bold;
  font-size: 1em;
}

.left {
  margin-left: 10%;
}

.right {
  margin-left: 40%;
}
.text-block1 {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin-top: 15%;
}
.text-block1 h3 {
  font-family: "Goldman", cursive;
  padding: 0;
  margin: 4%;
}

.text-block1 h4 {
  padding: 0;
  margin: 0 5% 10% 5%;
  font-weight: 400;
}

.text-block2 {
  background-color: rgba(256, 256, 256, 0.9);
  color: #000;
  width: 88%;
  padding-top: 2%;
  border: 5px solid #fff;
  margin: 10% auto;
}
.text-block2 h3 {
  font-size: 1.3em;
  font-family: "Goldman", cursive;
}

.text-block2 ul {
  text-align: left;
  margin-right: 3%;
}
.text-block2 a {
  display: block;
  font-size: 1em;
  color: #000;
  text-decoration: underline;
  padding: 1.5em;
  margin: 0;
}

.inner-text {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-left: 8%;
}

.portrait {
  width: 60%;
  border: 2px solid #000;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
}

.wide-image {
  width: 90%;
  border: 2px solid #000;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
}

iframe {
  width: 97%;
  margin: 0;
  margin-bottom: 10%;
  border: 2px solid #000;
  border-radius: 20px;
}

a.link-inside-text {
  padding: 0;
  display: inline;
  text-decoration: none;
}

/* -------------------REFERENCES--------------- */

#references {
  width: 90%;
  margin: 10% auto;
}
#references a {
  display: block;
  padding: 2%;
  font-size: 0.85em;
  text-decoration: underline;
}

.links {
  margin-left: 7%;
}

/* ----------------ROCKETS---------------------  */

.rocket-div {
  background-color: rgba(256, 256, 256, 0.05);
  width: 90%;
  font-size: 0.85em;
  margin: 0 auto;
  margin-top: 70px;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  border-radius: 20px;
}
.rocket-name {
  font-family: "Goldman", cursive;
  text-align: center;
  font-size: 7vw;
}

.rocket-info {
  background-color: rgba(256, 256, 256, 0.05);
  width: 55%;
  margin: 0 auto;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 25px;
}

.rocket-info p {
  padding-left: 5%;
}

.rocket-description {
  width: 80%;
  margin: 0 auto;
  font-size: 0.9em;
  margin-top: 10%;
}
.rocket-container a {
  display: block;
  text-align: center;
  padding: 5%;
  text-decoration: underline;
}

.rocket-image {
  width: 97%;
  display: block;
  border-radius: 20px;
  margin: 10% auto;
}

.rocket-images p {
  text-align: center;
  font-size: 0.85em;
}
