/* FONTS  
font-family: 'Goldman', cursive;
font-family: 'Roboto', sans-serif;

*/

/*---------------------- GENERAL ----------------*/

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.centered {
  text-align: center;
}

.red {
  color: red;
}

/* ----------------MOBILE----------------------- */

h1 {
  font-family: "Goldman", cursive;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 7vw;
  text-align: center;
}

.container {
  background: url(images/1.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  min-height: 800px;
  margin: 0;
  padding-top: 25px;
}

.text-block1,
.text-block2 {
  width: 80%;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid #fff;
  cursor: pointer;
  text-align: center;
}

.text-block2 {
  font-size: 0.85em;
}
.text-block2 h3 {
  font-size: 1.3em;
}

.text-block2 ul {
  text-align: left;
  margin-right: 3%;
}
.text-block2 a {
  display: block;
  font-size: 1em;
  color: #fff;
  text-decoration: underline;
  padding: 2em;
  /* margin: 15px; */
}

.inner-text {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-left: 8%;
}

.portrait {
  width: 60%;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
}

.wide-image {
  width: 90%;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
}
